footer{
    height: 266px;
    padding: 30px 0 70px;
    background-color: #2b2d2e;
}
#footer_logo{
    align-items: center;
    float: left;
    height: 36px;
    margin-right: 50px;
}

#footer_info, #footer_info_company{
    width: 90%;
    max-width: 1060px;
    margin: 0 auto 25px;
}

#footer_info .footer_left{
    width: calc(100% - 250px);
    float: left;
}
#footer_nav > div{
    float: left;
}

.company_information{
    float: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.66667em;
    color: hsla(0,0%,100%,.8);
    width: calc(100% - 250px);
}