@import url(https://fonts.googleapis.com/css?family=Gorditas);

.likeButton {
	display: inline-block;
	font-size: 62px;
	color: #cca2a3;
	position: absolute;
	left: 50%;
	top: 50%;
	cursor: pointer;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-transition: all 0.1s ease-in-out;
	        transition: all 0.1s ease-in-out;
}

.likeButton.liked {
	font-size: 20px;
}

.likeButton:after {
	display: inline-block;
	content: "♥";
	font-size: 1px;
	color: #D61F12;
	opacity: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}

.likeButton.liked:after {
	font-size: 62px;
	opacity: 1;
}