<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="signup">

	<insert id="insertBasicInfo" parameterType="com.ondongne.teampjt.users.dto.DataTransferUsers">
		insert into users(email, password, joindate)
		values(#{email}, #{password}, now())
	</insert>

	<select id="checkEmail" resultType="String">
		select email from users where email=#{email}
	</select>

	<select id="checkSignin" resultType="com.ondongne.teampjt.users.dto.DataTransferUsers">
		select email, password from users where email=#{email}
	</select>

	<update id="userUpdate" parameterType="com.ondongne.teampjt.users.dto.DataTransferUsers">
		update users set email=#{email}, password=#{password}, phone=#{phone}, birthday='1996-05-03', gender=#{gender}, nickname=#{nickname}, zipcode=#{zipcode}, address=#{address}, address_detail=#{address_detail}, region1=#{region1}, region2=#{region2}, region3=#{region3} where email='naye@naver.com';
	</update>

	<delete id="userDelete" parameterType="String">
		delete from users where email=#{signed_email};
	</delete>
</mapper>